.home-banner{
    position: relative;
    overflow: hidden;
    padding: 0;
}
.home-banner .banner-cover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: #00000050;
}
.home-banner .banner-content{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    z-index: 2;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.home-banner .banner-content h1{
    color: #fff !important ;
    font-weight: 900;
    font-size: 35px;
}
.home-banner .banner{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.home-banner .btn-banner{
    padding: 10px 20px;
    background-color: aliceblue;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #222;
    text-decoration: none;

}
@media (max-width: 767px) {
    .home-banner .banner-content h1 {
        font-size: 35px;
    }
    .home-banner .banner{
        height: 500px;
    }
}