.footer{
    background-color: #000000f5;
    color: #f3f3f3;
}
.footer .logo{
    max-width: 100%;
    width: 90px;
}
.footer .menu .link-items a{
    text-decoration: none !important;
    list-style: none;
    overflow: hidden;
    color: #f3f3f3;
}
.footer .contact-right a{
    color: #fff;
    list-style: none;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer .menu li{
    padding: 10px 0px;
}
.footer .menu li{
    list-style: circle;
    color: #fff !important;
}
.footer .lp-2{
    letter-spacing: 10px;
}