.home-updates-sec .update-card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    /* height: 460px; */
}
.home-updates-sec .update-card .update-img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: transform 0.5s ease-in-out;
}
.home-updates-sec .update-card .update-img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
.home-updates-sec .update-card:hover{
    box-shadow: rgba(44, 44, 44, 0.2) 0px 8px 24px;
}
.home-updates-sec .update-right .border-bottom-gray:not(:last-child){
    border-bottom:1px solid #3333338e ;
}
.home-updates-sec .slick-slide{
    padding: 0px 15px;
    margin-bottom: 20px;
}
.home-updates-sec .slick-slider.slick-initialized{
    margin-left: -15px;
    margin-right: -15px;
}