.home-contat-sec{
    background:linear-gradient(#fff 50%, #000000f5 40%) ;
    overflow: hidden;
}
.home-contat-sec .cont-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.home-contat-sec .contact-card{
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #00000026;
    border-radius: 15px;
    padding: 30px 40px;

}
.home-contat-sec .contact-card .form-control{
    border-radius: 5px;
}
.home-contat-sec .contact-card label, .home-contat-sec .contact-card .form-control::placeholder{
    font-size: 14px;
    color: #3333339c;
}
.home-contat-sec .contact-card input{
    box-shadow: none !important;
}
.home-contat-sec .contact-card .btn-submit{
    width: 100%;
    background-color:#000000f5;
    color: #fff;
    border-radius: 20px;
}
.home-contat-sec .contact-card .btn-submit:hover{
    background-color:#000;
    color: #fff;
}